@using Microsoft.AspNetCore.Mvc.Localization
@model Wizscore.ViewModels.HomeViewModel
@inject IViewLocalizer Localizer
<h1>@Localizer[Generated.ViewsHomeIndexResx.Title]</h1>
<div class="row mt-4">
    <div class="d-grid gap-2 col-sm-12 mx-auto">
        <a asp-controller="Game" asp-action="Create" role="button" class="btn btn-outline-success">@Localizer[Generated.ViewsHomeIndexResx.Create]</a>
        <a asp-controller="Game" asp-action="Join" role="button" class="btn btn-outline-info">@Localizer[Generated.ViewsHomeIndexResx.Join]</a>
        @if (Model.CanRejoin)
        {
            if (Model.HasGameStarted && (Model.IsCurrentRoundFinished || Model.IsGameFinished))
            {
                <a asp-controller="Game" asp-action="Score" role="button" class="btn btn-outline-info">@Localizer[Generated.ViewsHomeIndexResx.Rejoin]</a>
            }
            else if (Model.HasGameStarted)
            {
                <a asp-controller="Game" asp-action="Bid" role="button" class="btn btn-outline-info">@Localizer[Generated.ViewsHomeIndexResx.Rejoin]</a>
            }
            else
            {
                <a asp-controller="Game" asp-action="WaitingRoom" role="button" class="btn btn-outline-info">@Localizer[Generated.ViewsHomeIndexResx.Rejoin]</a>
            }
        }
    </div>
</div>
<a id="goToSnake" style="display: none" asp-controller="Home" asp-action="Snake"></a>

@section Scripts
{
    <script src="~/js/w.js" type="text/javascript"></script>
}

