@model Wizscore.ViewModels.BidSubmitViewModel
@{
    Layout = "_GameLayout";
    ViewData["Heading"] = $"Make a bid for round: {ViewBag.RoundNumber}";
}
<div class="row">
    <div class="sm-col-12">
        <form asp-action="BidSubmit" asp-controller="Game" method="post">

            @if (ViewBag.IsDealer)
            {
                <h4 class="mb-2">You are the dealer, please select the suit for this round if needed</h4>
            }

            <div class="suit-container mb-2">
                <button type="button" class="btn @(ViewBag.Suit == SuitEnum.Spade ? "btn-success": "btn-outline-info") suit" data-suit="Spade" data-active="false" @(!ViewBag.IsDealer ? "disabled" : string.Empty)><i class="bi bi-suit-spade"></i></button>
                <button type="button" class="btn @(ViewBag.Suit == SuitEnum.Heart ? "btn-success": "btn-outline-info") suit" data-suit="Heart" data-active="false" @(!ViewBag.IsDealer ? "disabled" : string.Empty)><i class="bi bi-suit-heart"></i></button>
                <button type="button" class="btn @(ViewBag.Suit == SuitEnum.Club ? "btn-success": "btn-outline-info") suit" data-suit="Club" data-active="false" @(!ViewBag.IsDealer ? "disabled" : string.Empty)><i class="bi bi-suit-club"></i></button>
                <button type="button" class="btn @(ViewBag.Suit == SuitEnum.Diamond ? "btn-success": "btn-outline-info") suit" data-suit="Diamond" data-active="false" @(!ViewBag.IsDealer ? "disabled" : string.Empty)><i class="bi bi-suit-diamond"></i></button>
            </div>

            @if(ViewBag.IsDealer)
            {
                <input type="hidden" id="isDealer" value="true" />
            }

            <label asp-for="Bid" class="form-label">Bid: </label>
            <input asp-for="Bid" class="form-control" />
            

            <button type="submit" class="btn btn-outline-success mt-5 align-self-end">Submit</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="~/js/BidHub.js" type="text/javascript"></script>
    <script src="~/js/Bid.js" type="text/javascript"></script>
}