@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model Wizscore.ViewModels.JoinSubmitViewModel
@{
    Layout = "_GameLayout";
    ViewData["Heading"] = localizer[Generated.ViewsGameJoinResx.Title];
}
<div class="row">
    <div class="col-sm-12">
        <form asp-action="JoinSubmit" asp-controller="Game" method="post">

            <label asp-for=GameKey class="form-label">@localizer[Generated.ViewsGameJoinResx.GameKey]</label>
            @if (!string.IsNullOrEmpty(ViewBag.gameKey))
            {
                <input asp-for="GameKey" class="form-control" aria-describedby="gamekeyHelp" value="@ViewBag.gameKey" />
            }
            else
            {
                <input asp-for="GameKey" class="form-control" aria-describedby="gamekeyHelp" />
            }
            <div id="gamekeyHelp" class="form-text">@localizer[Generated.ViewsGameJoinResx.GameKeyHelpInfo]</div>

            <label asp-for=Username class="form-label">@localizer[Generated.ViewsGameJoinResx.Username]</label>
            <input asp-for="Username" class="form-control" aria-describedby="usernameHelp" />
            <div id="usernameHelp" class="form-text">@localizer[Generated.ViewsGameJoinResx.UsernameHelpInfo]</div>

            <button type="submit" style="width: 100%" class="btn btn-lg btn-outline-success mt-5">@localizer[Generated.ViewsGameJoinResx.Join]</button>
        </form>
    </div>
</div>