@model Wizscore.ViewModels.ScoreViewModel

<div class="row">
    <div class="col-sm-12">
        <h1>Score Total</h1>
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm-12">

        <table class="table table-bordered border-primary">
            <thead>
            <th scope="col">
                Player
            </th>
            <th scope="col">
                Score
            </th>
            </thead>
            <tbody>
                @foreach (var playerScore in Model.PlayerScores)
                {
                    <tr>
                        <td>@playerScore.Username</td>
                        <td>@playerScore.Score</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @if(Model.IsNextDealer)
        {
            <a class="btn btn-outline-success" asp-controller="Game" asp-action="StartNextRound">Start Next Round</a>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>Score Round by Round</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @{
            var roundGrouping = Model.RoundsScores.GroupBy(g => g.RoundNumber);
        }
        @foreach (var roundGroup in roundGrouping)
        {
            <p class="h5">Round: @roundGroup.Key</p>
            <table class="table table-bordered border-primary">
                <thead>
                <th scope="col">
                    Player
                </th>
                <th scope="col">
                    Bid / Actual
                </th>
                <th scope="col">
                    Score
                </th>
                </thead>
                <tbody>
                    @foreach (var scoreRound in roundGroup)
                    {
                        <tr>
                            <td>@scoreRound.Username</td>
                            <td>@scoreRound.BidValue / @scoreRound.ActualValue</td>
                            <td>@scoreRound.Score</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<a id="goToBid" style="display: none" asp-controller="Game" asp-action="Bid"></a>

@section Scripts
{
    <script src="~/js/ScoreHub.js" type="text/javascript"></script>
}
