@model Wizscore.ViewModels.WaitingRoomViewModel
<div class="row">
    <div class="sm-col-12">
        <h1>Waiting for player to join.</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        Game Key: @Model.GameKey
    </div>
    <div class="col-sm-6">
        <span class="m2-2 btn btn-outline-info" id="copyGameKeyToKeyboard" data-game-key="@Model.GameKey">Copy to keyboard</span>
    </div>
    <div class="col-sm-12 mt-3">
        <table class="table" id="waitingRoomList">
            <thead>
            <th scope="col">
                #
            </th>
            <th scope="col">
                Player
            </th>
                @if (Model.IsGameCreator)
                {
                <th scope="col">
                    &nbsp;
                </th>
                }
            </thead>
            <tbody>
                @for (int i = 0; i < Model.NumberOfPlayer; i++)
                {
                    var isPlayerRow = Model.Players.Any(a => a.PlayerNumber == i + 1);
                    var value = isPlayerRow 
                        ? Model.Players.First(f => f.PlayerNumber == i + 1).Username
                        : $"Waiting for player {i + 1} to join...";
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@value</td>
                        @if (Model.IsGameCreator && isPlayerRow)
                        {
                            <td>
                                @if (i > 0)
                                {
                                    <a class="btn btn-outline-info" asp-controller="Game" asp-action="MovePlayerDown" asp-route-username="@Model.Players.First(f => f.PlayerNumber == i + 1).Username">
                                        <i class="bi bi-arrow-up-square"></i>
                                    </a>
                                }
                                @if (i < Model.NumberOfPlayer - 1)
                                {
                                    <a class="btn btn-outline-info" asp-controller="Game" asp-action="MovePlayerUp" asp-route-username="@Model.Players.First(f => f.PlayerNumber == i + 1).Username">
                                        <i class="bi bi-arrow-down-square"></i>
                                    </a>
                                }
                                @if (Model.Players.First(f => f.PlayerNumber == i + 1).Username != Model.CurrentUserName)
                                {
                                    <a class="btn btn-outline-danger" asp-controller="Game" asp-action="RemovePlayer" asp-route-username="@Model.Players.First(f => f.PlayerNumber == i + 1).Username">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.IsGameCreator)
    {
        <a asp-controller="Game" asp-action="Start" asp-route-gamekey="@Model.GameKey" class="btn btn-outline-success">Start Game</a>
    }
    <a id="goToBid" style="display: none" asp-controller="Game" asp-action="Bid"></a>
</div>

@section Scripts
{
    <script src="~/js/WaitingRoomHub.js" type="text/javascript"></script>
    <script src="~/js/WaitingRoom.js" type="text/javascript"></script>
}
